<footer class="footer">
  <div class="by alx">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="headline">
          <h3>{{ site.title | escape }}</h3>
        </div>
        <p>{{ site.description | escape }}</p>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-8 col-sm-6">
        <div class="headline">
          <h3>关注我</h3>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
    <div class="by alx">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                  <a href="#">关于xx</a>&nbsp;|&nbsp;
                  <a href="#">加入xx</a>&nbsp;|&nbsp;
                  <a href="#">服务协议</a>&nbsp;|&nbsp;
                  <a href="#">合作伙伴</a>
              </p>
              <p>© 2017 黄彦祥 - <a href="http://www.miitbeian.gov.cn/" target="_blank">豫ICP备14023180号-1</a> 
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264491401'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264491401%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
              </p>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ "/assets/js/toolkit.js" | relative_url }}"></script>
<script src="{{ "/assets/js/application.js" | relative_url }}"></script>
<script src="{{ "/assets/js/home.js" | relative_url }}"></script>
