<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<link href="{{ "/assets/css/toolkit.css" | relative_url }}" rel="stylesheet">
<link href="{{ "/assets/css/application.css" | relative_url }}" rel="stylesheet">
<link href="{{ "/assets/custom.css" | relative_url }}" rel="stylesheet">
<link href="//cdn.bootcss.com/highlight.js/9.13.1/styles/a11y-dark.min.css" rel="stylesheet">

<!-- HTML5 Support for IE -->
<!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ "/assets/js/toolkit.js" | relative_url }}"></script>

<!-- Favicon -->
<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

</head>
