<header>
  <div class="anq" id="app-growl"></div>
  <nav class="ck pc os app-navbar">
    <div class="by">
      <div class="or">
        <button type="button" class="ou collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="cv">Toggle navigation</span>
          <span class="ov"></span>
          <span class="ov"></span>
          <span class="ov"></span>
        </button>
        <a class="e" href="/">
          黄彦祥<!-- <img src="{{ '/assets/img/brand-white.png' | relative_url }}" alt="brand"> -->
        </a>
      </div>
      <div class="f collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav ss">
          <li><a href="{{ '/' | relative_url }}">主页</a></li>
          <li><a href="{{ '/blog' | relative_url }}">博客</a></li>
          <li><a href="{{ '/tag/p7' | relative_url }}">死磕P7</a></li>
          <li><a href="https://blog.csdn.net/radapp" target="_blank">CSDN</a></li>
          <li><a href="https://github.com/Chinaxiang/chinaxiang.github.io" target="_blank">GitHub</a></li>
          <!-- <li><a href="{{ '/feed.xml' | relative_url }}" target="_blank">RSS</a></li> -->
          <!-- <li><a href="{{ '/message' | relative_url }}" target="_blank">公众号</a></li> -->
        </ul>
        <form action="javascript:;" class="ow og i" role="search">
          <div class="et">
            <input type="text" id="search-input" class="form-control" data-action="grow" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav st su sv">
          <li><a href="{{ '/' | relative_url }}">主页</a></li>
          <li><a href="{{ '/blog' | relative_url }}">博客</a></li>
          <li><a href="{{ '/tag/p7' | relative_url }}">死磕P7</a></li>
          <li><a href="https://blog.csdn.net/radapp" target="_blank">CSDN</a></li>
          <li><a href="https://github.com/Chinaxiang/chinaxiang.github.io" target="_blank">GitHub</a></li>
          <!-- <li><a href="{{ '/feed.xml' | relative_url }}" target="_blank">RSS</a></li> -->
          <!-- <li><a href="{{ '/message' | relative_url }}" target="_blank">公众号</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
