<!-- 标签云 -->
<div class="category" id="tagContainer">
  <div class="menus text-center">
    <canvas id="tagCanvas" width="250" height="250"></canvas>
    <div id="tags" style="display: none;">
    {%for tag in site.data.tags %}
    <a href="{{ tag.url }}">{{ tag.name }}</a>
    {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/tagcanvas.min.js"></script>
<script type="text/javascript">
try {
  TagCanvas.Start('tagCanvas', 'tags', {
    textColour: '#222',
    outlineColour: '#aaa',
    reverse: true,
    depth: 0.8,
    dragControl: true,
    decel:0.95,
    maxSpeed: 0.05,
    initial: [-0.2, 0]
  });
} catch (e) {
  // something went wrong, hide the canvas container
  $('#tagContainer').hide();
}
</script>