---
layout: default
title: 博客列表
---
<div class="bw">
  <div class="by">
    <h1>个人博客</h1>
    <p>点滴记录个人成长历程，书写属于自己的人生传记。</p>
  </div>
</div>
<div class="by alx">
  <div class="row">
    <div class="col-md-9 col-sm-8">
      <div class="stream-list blog-stream">
        {% assign posts = paginator.posts | sort: 'date' | reverse %}
        {% for post in posts %}
        <section class="stream-list__item">
          <div class="blog-rank">
            <div class="votes plus">
              10<small>推荐</small>
            </div>
            <div class="views hidden-xs">
              100<small>浏览</small>
            </div>
          </div>
          <div class="summary">
            <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p class="excerpt wordbreak hidden-xs">{{ post.excerpt | remove: '<p>' | remove: '</p>'  }}</p>
            <ul class="author list-inline">
              <li>{{ post.date | date: site.minima.date_format }}</li>
            </ul>
          </div>
        </section>
        {% endfor %}
        <div class="page text-center clearfix">
          <!-- Another pagination links -->
          {% if paginator.total_pages > 1 %}
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if paginator.previous_page %}
                <li>
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled"><a href="javascript:;" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              {% endif %}

              {% assign curPage = paginator.page %}
              {% assign totalPage = paginator.total_pages %}
              {% assign leftPage = totalPage | minus: curPage %}
              {% if totalPage > 7 %}
                {% if curPage < 4 %}
                  {% assign start = 1 %}
                  {% assign end = 7 %}
                {% else %}
                  {% if leftPage < 3 %}
                    {% assign start = totalPage | minus: 6 %}
                    {% assign end = totalPage %}
                  {% else %}
                    {% assign start = curPage | minus: 3 %}
                    {% assign end = curPage | plus: 3 %}
                  {% endif %}
                {% endif %}
                {% assign pageList = (start..end) %}
              {% else %}
                {% assign pageList = (1..totalPage) %}
              {% endif %}

              {% for page in pageList %}
                {% if page == paginator.page %}
                  <li class="active"><a href="javascript:;">{{ page }}</a></li>
                {% elsif page == 1 %}
                  <li><a href="{{ "/blog" }}">1</a></li>
                {% else %}
                  <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li>
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled"><a href="javascript:;" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              {% endif %}
              
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      {% include segment.html %}
    </div>
    <div class="clearfix"></div>
  </div>
</div>

