/**
 * Syntax highlighting styles
 */
pre.highlight {
  background: #eef;
}

.highlight {
  background: #fff;
  
  .c     { color: #998; font-style: italic; margin: 0; } // Comment
  .err   { color: #a61717; margin: 0; } // Error
  .k     { font-weight: bold; margin: 0; } // Keyword
  .o     { font-weight: bold; margin: 0; } // Operator
  .cm    { color: #998; font-style: italic; margin: 0; } // Comment.Multiline
  .cp    { color: #999; font-weight: bold; margin: 0; } // Comment.Preproc
  .c1    { color: #998; font-style: italic; margin: 0; } // Comment.Single
  .cs    { color: #999; font-weight: bold; font-style: italic; margin: 0; } // Comment.Special
  .gd    { color: #000; background-color: #fdd; margin: 0; } // Generic.Deleted
  .gd .x { color: #000; background-color: #faa; margin: 0; } // Generic.Deleted.Specific
  .ge    { font-style: italic; margin: 0; } // Generic.Emph
  .gr    { color: #a00; margin: 0; } // Generic.Error
  .gh    { color: #999; margin: 0; } // Generic.Heading
  .gi    { color: #000; background-color: #dfd; margin: 0; } // Generic.Inserted
  .gi .x { color: #000; background-color: #afa; margin: 0; } // Generic.Inserted.Specific
  .go    { color: #888; margin: 0; } // Generic.Output
  .gp    { color: #555; margin: 0; } // Generic.Prompt
  .gs    { font-weight: bold; margin: 0; } // Generic.Strong
  .gu    { color: #aaa; margin: 0; } // Generic.Subheading
  .gt    { color: #a00; margin: 0; } // Generic.Traceback
  .kc    { font-weight: bold; margin: 0; } // Keyword.Constant
  .kd    { font-weight: bold; margin: 0; } // Keyword.Declaration
  .kp    { font-weight: bold; margin: 0; } // Keyword.Pseudo
  .kr    { font-weight: bold; margin: 0; } // Keyword.Reserved
  .kt    { color: #458; font-weight: bold; margin: 0; } // Keyword.Type
  .m     { color: #099; margin: 0; } // Literal.Number
  .s     { color: #d14; margin: 0; } // Literal.String
  .na    { color: #008080; margin: 0; } // Name.Attribute
  .nb    { color: #0086B3; margin: 0; } // Name.Builtin
  .nc    { color: #458; font-weight: bold; margin: 0; } // Name.Class
  .no    { color: #008080; margin: 0; } // Name.Constant
  .ni    { color: #800080; margin: 0; } // Name.Entity
  .ne    { color: #900; font-weight: bold; margin: 0; } // Name.Exception
  .nf    { color: #900; font-weight: bold; margin: 0; } // Name.Function
  .nn    { color: #555; margin: 0; } // Name.Namespace
  .nt    { color: #000080; margin: 0; } // Name.Tag
  .nv    { color: #008080; margin: 0; } // Name.Variable
  .ow    { font-weight: bold; margin: 0; } // Operator.Word
  .w     { color: #bbb; margin: 0; } // Text.Whitespace
  .mf    { color: #099; margin: 0; } // Literal.Number.Float
  .mh    { color: #099; margin: 0; } // Literal.Number.Hex
  .mi    { color: #099; margin: 0; } // Literal.Number.Integer
  .mo    { color: #099; margin: 0; } // Literal.Number.Oct
  .sb    { color: #d14; margin: 0; } // Literal.String.Backtick
  .sc    { color: #d14; margin: 0; } // Literal.String.Char
  .sd    { color: #d14; margin: 0; } // Literal.String.Doc
  .s2    { color: #d14; margin: 0; } // Literal.String.Double
  .se    { color: #d14; margin: 0; } // Literal.String.Escape
  .sh    { color: #d14; margin: 0; } // Literal.String.Heredoc
  .si    { color: #d14; margin: 0; } // Literal.String.Interpol
  .sx    { color: #d14; margin: 0; } // Literal.String.Other
  .sr    { color: #009926; margin: 0; } // Literal.String.Regex
  .s1    { color: #d14; margin: 0; } // Literal.String.Single
  .ss    { color: #990073; margin: 0; } // Literal.String.Symbol
  .bp    { color: #999; margin: 0; } // Name.Builtin.Pseudo
  .vc    { color: #008080; margin: 0; } // Name.Variable.Class
  .vg    { color: #008080; margin: 0; } // Name.Variable.Global
  .vi    { color: #008080; margin: 0; } // Name.Variable.Instance
  .il    { color: #099; margin: 0; } // Literal.Number.Integer.Long
  .nx    { margin: 0; } // 
}
