---
layout: default
---
<div class="wrap">
  <div class="by">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <ol class="breadcrumb">
          <li><a href="{{ '/blog' | relative_url }}">博客</a></li>
          <li class="active">文章详情</li>
        </ol>
        <h1 class="h3 title" id="articleTitle"><a href="#">{{ page.title | escape }}</a></h1>
        <div class="tag">
          {% for tag in page.tags %}
          <span class="label label-primary">{{ tag }}</span>&nbsp;&nbsp;
          {% endfor %}
        </div>
        <div class="author">
          {{ page.author }} 发布于 
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </div>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <ul class="widget-action--ver list-unstyled">
          <li><button type="button" class="btn btn-success btn-sm" data-id="pid-{{ page.id | escape | remove: '/' }}" id="sideLike">推荐</button><strong id="sideLiked">10</strong> 推荐
          </li>
          <li><strong class="no-stress">520</strong> 浏览</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="by alx">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="article">
        {{ content }}
      </div>
      <div class="article" style="border-top: 1px dotted #aaa;padding-top: 15px;">
        <p>本次的分享到此结束，希望对你有所帮助。</p>
        <p>如果你对我分享的内容感兴趣，欢迎扫码关注公众号：<strong>新质程序猿</strong>，并设置星标，推送更实时哟！</p>
        <p class="text-center">
          <img src="https://huangyanxiang.com/qrcode.jpg">
        </p>
      </div>
      <div class="article-license alert alert-info">
        <div class="license-item license-cc">
          本文由 <a href="javascript:;" class="alert-link">黄彦祥</a>
            创作，采用 <a href="http://creativecommons.org/licenses/by/3.0/cn" target="_blank" class="alert-link">知识共享署名 3.0 中国大陆许可协议</a> 进行许可。<br>可自由转载、引用，但需署名作者且注明文章出处。
        </div>
      </div>
      <div class="messages">
        <!--PC和WAP自适应版-->
        <!-- <div id="SOHUCS" sid="sid-{{ page.id | escape | remove: '/' }}" ></div>  -->
      </div>
    </div>
    <div class="col-md-3 hidden-sm side">
      <div class="post-nav hidden-sm hidden-xs">
        <div class="panel panel-default widget-outline">
          <div class="panel-heading">文章目录</div>
          <div class="panel-body">
            <div class="nav-body">
              <div class="highlight-title"></div>
              <ul class="articleIndex"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.1.0/highlight.min.js"></script>
<script src="{{ '/assets/js/blog.js' | relative_url }}"></script>